<div class="container"  ng-controller="loginController">
	<div id="login-box">
		<div class="logo">
			<img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="img img-responsive img-circle center-block"/>
			<h1 class="logo-caption"><span class="tweak">L</span>ogin</h1>
		</div><!-- /.logo -->
		<div class="controls">
			<input type="text" name="username" placeholder="Username" class="form-control" ng-model="user.username"/>
			<input type="text" name="username" placeholder="Password" class="form-control" ng-model="user.password"/>
			<button type="button" class="btn btn-default btn-block btn-custom" ng-click="login(user)">Login</button>
		</div><!-- /.controls -->
	</div><!-- /#login-box -->
</div><!-- /.container -->
<div id="particles-js"></div>