<div class="container-fluid" ng-controller="userController">
    <!-- Second navbar for search -->
    <nav class="navbar navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >Forum</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-3">
          <ul class="nav navbar-nav navbar-right">
          	<li><a ng-click="goToUserHome()">Home</a></li>
            <li><a ng-click="goToInbox()">Inbox</a></li>
            <li><a ng-if="isAdmin()" ng-click="goToCreateForum()">Create Forum</a></li>
            <li><a ng-click="goToFollowedForum()">Followed Forum</a></li>
            <li><a ng-if="isAdmin()" ng-click="goToUserRole()">Edit User Role</a></li>
            <li><a ng-click="logout()">LogOut</a></li>
            <li>
              <a class="btn btn-default btn-outline btn-circle collapsed"  data-toggle="collapse" href="#nav-collapse3" aria-expanded="false" aria-controls="nav-collapse3">Search</a>
            </li>
          </ul>
          <div class="collapse nav navbar-nav nav-collapse slide-down" id="nav-collapse3">
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" />
              </div>
              <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </form>
          </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
    
<div class="container" ng-show="userHome" ng-controller="subforumController">
		<div class="row"">
			<div class="panel panel-default">
	        <div class="panel-heading clearfix">
	          <h3 class="panel-title">User Home</h3>
	         </div>
				<table class="table table-striped">
				    <thead>
				      <tr>
				        <th>Name</th>
				        <th>Description</th>
				        <th>Icon</th>
				        <th ng-if="isAdmin()">Delete</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-repeat="s in subforums">
				        <td><a href="" ng-click= "showThisSubforum(s)">{{s.name}}</a></td>
				        <td>{{s.description}}</td>
				        <td><img ng-src="icons/{{s.icon}}" height="48px" width="48px"></td>
				        <td ng-if="isAdmin()"><button type="button" class="btn btn-success" ng-click="removeSubforum(s)" data-toggle="modal" data-target="#deleteModal">Delete forum</button></td>
				      </tr>
				    </tbody>
				  </table>
		  </div>
		</div>
		
		<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"  style="display: none;">
    	  <div class="modal-dialog">
				<div class="modal-content">
			        <div class="modal-header">
			      
			          <h4 class="modal-title">Delete subforum</h4>
			        </div>
			        <div class="modal-body">
			          <div class="form-group">
			          		<label>Are you sure to want to delete subforum?</label>
			          </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="deleteSubforum()">Delete</button>
			          <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
			        </div>
			   	   </div>
				</div>	
			</div>     
		</div>  
		
	<div class="container" ng-show="showSubforum">
		<div class="row">
			<div class="panel panel-default">
	        <div class="panel-heading clearfix">
	          <h3 class="panel-title">Subforum {{activeSubforum.name}}</h3>
	        </div>
	        <div class="panel-body">
	            <form role="form" class="form-horizontal">
	                <button type="button" ng-disabled="followButton" class="btn btn-info" ng-click="followSubforum(activeSubforum)">Follow subforum</button>
	                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#themesModal" ng-click="showCreateTheme(activeSubforum)">Create theme</button>
	            </form>

	        </div>
      		</div>
		</div>
		
		<div class="modal fade" id="themesModal" tabindex="-1" role="dialog"  style="display: none;">
    	  <div class="modal-dialog">
				<div class="modal-content">
			        <div class="modal-header">
			      
			          <h4 class="modal-title">Create {{activeSubforum.name}}'s theme</h4>
			        </div>
			        <div class="modal-body">
			          <div class="form-group">
					      <label>Title:</label>
					      <input type="text" class="form-control" id="name" ng-model="theme.name">
					  </div>
					  <div class="form-group">
					  	<label>Type:</label>
		
					  </div>
					  <div class="form-group">
					  	  <label>Content:</label>
					  	  <input type="text" class="form-control" id="content" ng-model="theme.content">
			          </div>

			        <div class="modal-footer">
			          <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="createTheme()">Create theme</button>
			          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
			          
			        </div>
			   	   </div>
				</div>	
			</div>     
		</div>  
		<div class="row">
				 <table class="table table-striped">
				    <thead>
				      <tr>
				        <th>Theme's name</th>
				        <th>Theme's content</th>
				        <th>Theme's author</th>
				        <th>Delete theme</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-repeat="t in themes">
				        <td>{{t.name}}</td>
				        <td>{{t.content}}</td>
				        <td>{{t.author}}</td>
				        <td><button class="btn btn-warning"  ng-click="removeTheme(t)" data-toggle="modal" data-target="#deleteThemeModal">Delete theme</button></td>
				      </tr>
				    </tbody>
				  </table>
		
		</div>
		
		<div class="modal fade" id="deleteThemeModal" tabindex="-1" role="dialog"  style="display: none;">
    	  <div class="modal-dialog">
				<div class="modal-content">
			        <div class="modal-header">
			      
			          <h4 class="modal-title">Delete theme</h4>
			        </div>
			        <div class="modal-body">
			          <div class="form-group">
			          		<label>Are you sure to want to delete theme?</label>
			          </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="deleteTheme()">Delete</button>
			          <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
			        </div>
			   	   </div>
				</div>	
			</div>     
		</div>  
	</div>
		
</div>
    
    
<div class="container" ng-show="followedForum" ng-controller="subforumController">
		<div class="row"">
			<div class="panel panel-default">
	        <div class="panel-heading clearfix">
	          <h3 class="panel-title">Followed subforum</h3>
	         </div>
				<table class="table table-striped">
				    <thead>
				      <tr>
				        <th>Name</th>
				        <th>Description</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-repeat="s in followedSubforum">
				        <td>{{s.name}}</td>
				        <td>{{s.description}}</td>
				      </tr>
				    </tbody>
				  </table>
		  </div>
		</div>
</div>		
    
    
  <div class="container" ng-show="inbox">
	<div class="row">
		<div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h3 class="panel-title">Message Form</h3>
        </div>
        <div class="panel-body">
            <form role="form" class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-2" for="inputTo">To</label>
                  <div class="col-sm-10"><input type="text" ng-model="message.receiver" class="form-control" id="inputTo" placeholder="type a receiver"></div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2" for="inputBody">Message</label>
                  <div class="col-sm-10"><input type="text" ng-model="message.content" class="form-control" id="inputBody" placeholder="input text"></div>
                </div>
                <button type="button" class="btn btn-success" ng-click="sendMessage()">Send</button>
            </form>
        </div>
      </div>
	</div>
	
		<div class="row"">
			<div class="panel panel-default">
	        <div class="panel-heading clearfix">
	          <h3 class="panel-title">Inbox</h3>
	         </div>
				<table class="table table-striped">
				    <thead>
				      <tr>
				        <th>Sender</th>
				        <th>Content</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-repeat="m in messages">
				        <td>{{m.sender}}</td>
				        <td><button type="button" class="btn btn-success" ng-click="readMessage(m)" data-toggle="modal" data-target="#myModal">Read message</button></td>
				      </tr>
				    </tbody>
				  </table>
		  </div>
		</div>
		
		
		 <div class="modal fade" id="myModal" tabindex="-1" role="dialog"  style="display: none;">
    	  <div class="modal-dialog">
				<div class="modal-content">
			        <div class="modal-header">
			      
			          <h4 class="modal-title">Message view</h4>
			        </div>
			        <div class="modal-body">
			          <div class="form-group">
					      <label>Sender:</label>
					      <input type="text" class="form-control" id="sender" ng-model="sender" disabled>
					  </div>
					  <div class="form-group">
					  	  <label>Content:</label>
					  	  <input type="text" class="form-control" id="content" ng-model="content" disabled>
			          </div>
			          <div class="form-group">
			          		<label>Reply:</label>
			          		<input type="text" class="form-control" id="reply" ng-model="replyContent">
			          </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="replyMessage()">Reply</button>
			          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
			          
			        </div>
			   	   </div>
				</div>	
			</div>     
		</div>  
</div>

	<div class="container" ng-show="editUserRole" >
		<div class="row"">
			<div class="panel panel-default">
	        <div class="panel-heading clearfix">
	          <h3 class="panel-title">Edit User Role</h3>
	         </div>
				<table class="table table-striped">
				    <thead>
				      <tr>
				        <th>Username</th>
				        <th>User role</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-repeat="u in users">
				        <td>{{u.username}}</td>
				        <td>{{u.role}}</td>
				        <td><button type="button" class="btn btn-success" ng-click="editUser(u)"  data-toggle="modal" data-target="#myModal2">Edit user role</button></td>
				      </tr>
				    </tbody>
				  </table>
		  </div>
		</div>
		
		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"  style="display: none;">
    	  <div class="modal-dialog">
				<div class="modal-content">
			        <div class="modal-header">
			      
			          <h4 class="modal-title">Message view</h4>
			        </div>
			        <div class="modal-body">
			          <div class="form-group">
					      <label>Username:</label>
					      <input type="text" class="form-control" id="username" ng-model="username" disabled>
					  </div>
					  <div class="form-group">
					  	   <label>
						    <input type="radio" ng-model="role.user" value="USER">
						    USER
						  </label><br/>
						  <label>
						    <input type="radio" ng-model="role.user" value="ADMINISTRATOR">
						    ADMINISTRATOR
						  </label><br/>
						  <label>
						    <input type="radio" ng-model="role.user" value="MODERATOR">
						    MODERATOR
						  </label>
					  	  
			          </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="editUserRole(username,role.user)">Edit</button>
			          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
			          
			        </div>
			   	   </div>
				</div>	
			</div>     
		</div>  
	</div>	
		<div class="container" ng-show="createForum" ng-controller="subforumController">
			<div class="row">
				<div class="panel panel-default">
		        <div class="panel-heading clearfix">
		          <h3 class="panel-title">Create Forum</h3>
		        </div>
		        <div class="panel-body">
		            <form role="form" class="form-horizontal">
		                <div class="form-group">
		                  <label class="col-sm-2" for="inputTo">Name</label>
		                  <div class="col-sm-10"><input type="text" ng-model="subforum.name" class="form-control" id="forumName"></div>
		                </div>
		                <div class="form-group">
		                  <label class="col-sm-2" for="inputBody">Description</label>
		                  <div class="col-sm-10"><input type="text" ng-model="subforum.description" class="form-control" id="forumDescription"></div>
		                </div>
		                <div class="form-group">
		                	<div class="fileupload fileupload-new" data-provides="fileupload"></div>
		                		<div class="input-append">
		                			<div class="uneditable-input span3">
		                				<i class="icon-file fileupload-exists"></i>
		                				<span class="fileupload-preview" ng-model="userType"></span>
		                			</div>
									<span class="btn btn-file">
										<span class="fileupload-new">Choose icon:</span>									
										<input type="file" ng-model="upFile" onchange="angular.element(this).scope().setFileEventListener(this)" />
									</span>		                
								</div>
							</div> 
							
							<button type="button" class="btn btn-success" ng-click="createSubforum()">Create Forum</button>	
						
		            </form>
		        </div>
		      </div>
			</div>
		</div>
</div>
